.popup {
  z-index: 10;
}
.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

label {
  width: max-content;
  color: rgb(2, 126, 2);
  font-size: 13px;
  border-bottom: 0.5px solid rgb(223, 71, 12);
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid grey;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(175, 170, 170);
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout {
  background-color: red;
}
.login {
  background-color: green;
  margin-right: 10px;
}
.register {
  background-color: rgb(197, 194, 21);
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}
